h1{
    color: black;}

    .table-primary{
background-color: red;
color: red;

    }

#formInfo{
    display: none
}

.High{
    color: red;
    background-color: hsla(0, 100%, 50%, 0.1);
}

.Medium{
    color:orange;
    background-color: hsla(34, 100%, 50%, 0.1);
}

.Low{
    color:green;
    background-color: hsla(128, 100%, 50%, 0.1);
}